*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
}
/* Style de la barre de navigation */
header {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0); /* Ombre initialement invisible */
    transition: box-shadow 0.3s ease-in-out; /* Transition pour l'ombre */
    z-index: 999; /* Assurez-vous que la barre de navigation reste au-dessus du contenu */
  }

  header h1 a img{
    width: 266px;
  }

  nav ul {
    list-style: none;
    
  }
  
  nav ul li {
    display: inline-block;
    margin: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ababab;
    font-weight: bold;
    font-size: 14px;
    font-weight: 400;
  }

  nav ul li a:target{
    color: #00b39b;
  }

  nav ul li a:hover{
    color: #00b39b;
  }
  
  
  nav ul li.dropdown:hover .submenu {
    display: block;
  }
  
  nav ul li.dropdown .submenu {
    display: none;
    position: absolute;
    padding-top: 10px;
    top: 63%;
    right: 170px;
    width: 230px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(136, 111, 111, 0.1);
    z-index: 999;
  }
  
  nav ul li.dropdown .submenu li {
    display: block;
    padding: 10px;
    margin: 0px;
    cursor: pointer;
  }
  nav ul li.dropdown .submenu li:hover{
    background-color: rgb(243, 243, 243);
  }
  nav ul li.dropdown .submenu li:hover a{
    color: #00b39b;
    
  }
  
  nav ul li.dropdown .submenu li a {
    color: #ababab;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    display: block;
    width: 100%;
  }
 
  
  /* Ombre de bas au défilement */
  .header-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }



  /*Section1*/
  .section1{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section1 .image{
    padding: 20px;
  }
  .section1 .image + p{
    font-size: 2.125rem;
    color: #00b39b;
    font-family: Work Sans,Arial,sans-serif;
  }
  .section1 .bloc_textes{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section1 .bloc_textes p{
    width: 500px;
    line-height: 25px;
  }

  .section1 .container {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section1 .container  .box {
    position: relative;
    margin: 0px 10px;
    width: 320px;
    height: 350px;
    border-radius: 10px;
    background-color: #3498db;
    color: #ffffff;
    padding: 20px;
    opacity: 0;
    transform: translateX(100%);
    animation: appear 0.5s ease-in-out forwards;
  }
  .section1 .container .box p{

    font-size: 1.5em;
    font-weight: 100;
  }
  .section1 .container  .box h2{
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 300;
  }
  .section1 .container  .box h2, .section1 .container .box p , .section1 .container .box img{
    opacity: 0;
    transform: translateX(20px);
    animation: slideIn 1.3s ease-in-out forwards;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .section1 .container .box:nth-child(1) {
    background-color: #00ccb1;
  }
  .section1 .container .box:nth-child(1):hover{
    background-color: #0edfc3;
  }
  .section1 .container .box:nth-child(2) {
    animation-delay: 0.1s;
    background-color: #3d83df;
  }
  .section1 .container .box:nth-child(2):hover{
    background-color: #5395ec;
  }
  .section1 .container .box:nth-child(3) {
    animation-delay: 0.2s;
    background-color: #1b2734;
  }
  .section1 .container .box:nth-child(3):hover{
    background-color: #2d4053;
  }
  .section1 .container .box select{
    background: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    transform: translateY(70px);
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  .section1 .container .box .selection1 option{
    background-color: #00ccb1;
  }
  .section1 .container .box .selection2 option{
    background-color: #3d83df;
  }
  .section1 .container .box .selection3 option{
    background-color: #1b2734;
  }

  .section1 .container2{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .section1 .container2 p , .section1 .container2 #logos{
    margin: 0px 30px;
  }
  .section1 .container2 p{
    width: 350px;
    color: #00b39b;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
  }
  #logos{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
  }
  #logos img{
    width: 6.5rem;
    object-fit: contain;
    margin: 20px 15px;
}


.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    background-color: #d0faf4;
    padding-left: 50px;
}
.section4fourparts{
    display: flex;
    margin-right: 50px;
    height: 100%;
    justify-content: space-around;
    margin-left: 100px;
}
#leader, #patients, #appointments, #doctors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  width: 220px;
  border-radius: 3px;

}
.section4fourparts h3 {
  font-size: 28px;
  color: #00b39b;
  font-weight: 200;
  letter-spacing: -0.3px;
  padding: 20px 0px;
}
.section4fourparts p {
  font-size: 0.8125em;
  font-weight: 400;
  color: #747474;
  
}
#leader img, #patients img, #appointments img, #doctors img {
  width: 25px;
  height: auto;
  margin-top: 30px;
}
#leader p, #patients p, #appointments p, #doctors p {
  margin-bottom: 30px;
}
#leader {
  margin-bottom: 20px;
}
#appointments {
  margin-bottom: 20px;
}
.first2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
}
.second2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.section4header {
  font-family: Work Sans, Arial, sans-serif;
  padding-top: 60px;
}
.section4header h2 {
  color: #00b39b;
  font-weight: 300;
  letter-spacing: -0.3px;
  padding-left: 50px;
}

.section4header p {
  padding-left: 50px;
  padding-top: 20px;
  font-size: 15px;
  color: #747474;
  padding-bottom: 50px;
  margin: 0px 0px 10px;
}


.section3{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section3 h1{
  text-align: center;
  color: #00b39b;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 10px;
}
.section3 p{
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 100px;
}

.section4{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5cm;
  justify-content: center;
}
.pays {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
}
.pays div{
  margin: 20px 10px;
  border: 10px;
  border-radius: 10px;
}
.pays div:hover {
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.1);
}
.pays div .buttons{
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  box-shadow: none;
}
.pays div .buttons button{
  padding: 13px;
  border-radius: 5px;
  background-color: blue;
  border: none;
  color: white;
  font-size: 10px;
  font-weight: 100;
}

.pays div img{
  border-radius: 10px 10px 0 0;
  opacity: 0;
  animation: Opacite 1.3s ease-in-out forwards;
}
@keyframes Opacite {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.section5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section5 h1{
    font-size:35px;
    color: #333;
    font-weight: 300;
    letter-spacing: -0.3px;
    text-align: center;
}
.section5 div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section5 div button{
  margin: 30px 0;
  background-color: #3d83df;
  color: #fff;
  
  border-radius: 4px;
  text-align: center;
  border: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 12px;
  cursor: pointer;
}

footer{
  text-align: center;
  margin-top: 100px;
  font-size: 12px;
 
  color: #ababab;
  padding-left: 100px;
  padding-right: 100px;
}
footer div a{
  text-decoration: none;
  color: blue;
}
footer div p{
  margin-top: 20px;
  margin-bottom: 10px;
}